.indRecipeSection{
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        // width: 80%;
        margin: 0 auto;
}


.recipeList {
    list-style: none;
    width: 60%;
    // border: 1px solid rgb(107, 106, 106);
    margin: 10% auto 0 auto;
    position: relative;
    border-radius: 10px;
    h3 {
        font-size: 1.3rem;
        margin: 7% 0 0 0;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.4;
        color: #484848;
    }
    .recipeServings{
        text-align: right;
        font-size: .8rem;
    }
}

.listTitle {
    padding: 4%;
    background: linear-gradient(rgba(241, 237, 185, 0.7),rgba(2255,255,255,.7)), url(../images/pineappledown.jpg);
    background-size: cover;
    border-radius: 10px;
}

h2 {
    text-align: right;
    margin-top: 0;
    font-size: 2.5rem;
}

.listInfo{
    padding: 4% 4% 49px 4%;
    margin-bottom: 9%;
    white-space: pre-wrap;
    background: rgba(2255,255,255,.7);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.removeBtn {
    bottom: -21px;
    left: 4%;
    position: absolute;
    background: rgba(123,178,153,.7);
    padding: 1.5% 4%;
    border: 2px solid rgba(123,178,153,.7);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.removeBtn:hover {
    background: white;
    border: 2px solid rgba(123,178,153,.7);
}

.removeBtn:active {
    color: white;
}

.credits {
    color: rgba(123,178,153,.7);
    font-size: .8rem;
    font-family: 'Merriweather', serif;
}


@media (max-width: 767px) {
    .recipeList {
        width: 80%;
    }
}

